<!-- {{title}} -->
<tables-root></tables-root>
<!-- no
{{no + 5}} -->

<!-- {{name | uppercase}}
<button (click)="onClickOfType()">Change Type</button>
<br />
<br />
<br />
Name:
<input [type]="type" [value]="name">
<br />
<br />
 // change  text color of  name ...following way are there  
 //way 1 
<div [ngClass]="type === 'text' ? 'red-color' : 'pink-color'">
  Pranita
</div> -->
<!-- way2 -->
<!-- <div class="{{type === 'text' ? 'red-color' : 'pink-color'}}">
  Pranita
</div> -->
<!-- way3 -->
<!-- <div *ngIf="type=== 'text'" class="red-color">
  Pranita
</div>

<div *ngIf="type=== 'password'" class="pink-color">
  Pranita
</div> -->

<!-- <br />
<br /> -->
<!-- way4-->

<!-- <div *ngIf="type=== 'text'" class="text">
  I am text
</div>

<br />
<div *ngIf="type === 'password'" class="password">
  I am password
</div> -->

<!-- {{currentDate | date: 'MM/dd/YYYY'}}  -->