<!-- {{title}}
<tables-root></tables-root> -->
<!-- no
{{no + 5}} -->

<!-- {{name | uppercase}}
<button (click)="onClickOfType()">Change Type</button>
<br />
<br />
<br />
Name:
<input [type]="type" [value]="name">
<br />
<br />

<div [ngClass]="type === 'text' ? 'red-color' : 'pink-color'">
  Pranita
</div> -->

<!-- <div class="{{type === 'text' ? 'red-color' : 'pink-color'}}">
  Pranita
</div> -->

<!-- <div *ngIf="type=== 'text'" class="red-color">
  Pranita
</div>

<div *ngIf="type=== 'password'" class="pink-color">
  Pranita
</div> -->

<!-- <br />
<br /> -->

<!-- <div *ngIf="type=== 'text'" class="text">
  I am text
</div>

<br />
<div *ngIf="type === 'password'" class="password">
  I am password
</div> -->

<!-- {{currentDate | date: 'MM/dd/YYYY'}} -->