<!-- <img src="assets/img/logo.png">
<div class="div">
  {{title1|uppercase}}
</div>

Name:
<input (keyup)="onInput($event)" [type]="type" value="{{placeholder}}"><br>
<br>
<button (click)=buttonClicked()>Submit</button><br><br>
<div (mouseleave)="myEvent('mouseEvent')" style="background-color: bisque;">Hello

</div>
<br>
<br>
{{count}}
<button (click)=incrementValue()>incrementValue</button>
<div (mousemove)="incrementValue()" style="background-color: rgb(35, 44, 44); height: 50px; width: 50px;">
</div>

<select (change)=changeColor($event.target.value)>
  <option>red</option>
  <option>white</option>
  <option>blue</option>
</select>
<h4>selected color:{{color}}</h4>
 -->

<table border="2">
  <tr>
    <th>sr_no</th>
    <th>FName</th>
    <th>LName</th>
  </tr>
  <tr *ngFor="let item of tables">
    <td>{{item.sr_no}}</td>
    <td>{{item.FName}}</td>
    <td>{{item.LName}}</td>
  </tr>
</table>